/* Постоянные клиенты */
.clients {
  margin-bottom: 94px;
}

.clients-list {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  justify-content: center;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: border 250ms $timing-function;
  &:hover,
  &:focus {
    border: 1px solid $accent-color;
  }
}

.clients-list-link-svg {
  fill: #afb1b8;
  transition: fill 250ms $timing-function;

  .clients-list-link:hover &,
  .clients-list-link:focus & {
    fill: $accent-color;
  }
}
