.features {
  margin-bottom: 60px;
  @media screen and(min-width:1200px) {
    margin-bottom: 94px;
  }
}

.features-list {
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.features-list-item {
  @media screen and(min-width:768px) {
    width: 354px;
    margin-right: 30px;
  }

  @media screen and(min-width:1200px) {
    width: 270px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.features-list-title,
.features-list-description {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.features-list-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $title-color;

  @media screen and(max-width:767px) {
    text-align: center;
  }
}

.features-list-description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
  color: $desription-color;
}

.features-list-item-icon {
  padding-top: 25px;
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
