/* Герой */

.hero {
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
}

.hero-title,
.modal-btn {
  color: $dark-theme-color;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-title {
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  padding-top: 200px;

  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.hero-modal-btn {
  padding-bottom: 200px;
}

.modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  background-color: $accent-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $modal-hover-color;
  }
}
