/* Портфолио */
.filter {
  margin-top: 94px;
  margin-bottom: 50px;
}

.filter-list {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-list-item-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;

  transition: color 250ms $timing-function,
    background-color 250ms $timing-function;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $accent-color;
  }
}

.gallery {
  margin-bottom: 94px;
}

.gallery-list,
.gallery-list-title,
.gallery-list-subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
}

.gallery-list {
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}

.gallery-list-item {
  border: 1px solid #eeeeee;

  &:not(:nth-child(3n)) {
    margin-right: 25px;
  }

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.gallery-list,
.gallery-list-title,
.gallery-list-description {
  font-size: 18px;
}

.gallery-list-title,
.gallery-list-subtitle {
  padding-left: 24px;
}

.gallery-list-title {
  margin-bottom: 4px;

  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-color;
}

.gallery-list-description,
.gallery-list-subtitle {
  font-weight: 400;
  letter-spacing: 0.03em;
}
.gallery-list-subtitle {
  padding-bottom: 20px;

  font-size: 16px;
  line-height: 1.87;
  color: $desription-color;
}

.gallery-list-link-image {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;

  &:hover .gallery-list-description {
    transform: translateY(0);
  }
}

.gallery-list-description {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms $timing-function;

  margin: 0px;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}
