.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;

  .social-list {
    justify-content: center;
  }

  .social-link {
    background-color: transparent;
    transition: background-color 250ms $timing-function;

    @media screen and(min-width:1200px) {
      &:hover,
      &:focus {
        background-color: $accent-color;
      }
    }
  }

  .social-list-item-svg {
    fill: #afb1b8;
    transition: fill 250ms $timing-function;
  }
}

@media screen and(min-width:1200px) {
  .social-link:hover .social-list-item-svg,
  .social-link:focus .social-list-item-svg {
    fill: #fff;
  }
}

.team-list {
  @media screen and (min-width: 768px) {
    margin-right: -30px;
    margin-bottom: -30px;

    display: flex;
    flex-wrap: wrap;
  }
}

.team-list-item {
  padding-bottom: 24px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and(max-width:767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 354px;
  }

  @media screen and(min-width:1200px) {
    width: 270px;
    padding-bottom: 30px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.team-list-img {
  display: block;
  margin-bottom: 30px;
  max-width: 450px;
}

.team-list-title,
.team-list-description {
  text-align: center;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-list-title {
  margin-bottom: 10px;
  color: $title-color;
}

.team-list-description {
  margin-bottom: 16px;
  font-weight: 400;
  color: $desription-color;
}
