$main-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$dark-theme-color: #ffffff;
$title-color: #212121;
$desription-color: #757575;
$accent-color: #2196f3;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$modal-hover-color: #188ce8;
